@charset "utf-8";
.sn_banner {
  width: 100%;
}
.sn_banner ul {
  width: 100%;
}
.sn_banner ul:first-child {
  width: 1000%;
}
.sn_banner ul:first-child li {
  float: left;
  width: 10%;
}
.sn_banner ul:first-child li img {
  display: block;
  width: 100%;
}
